.rodape {
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    padding: 2rem 0px;
}

.rodape h3 {
    color: var(--branco);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}